.yellow {
    color:yellow;
}
#graycol {
    color: gray;
}
.text-box h3:first-child {
    color: pink;
}
.text-box div:nth-child(5) {
    color: red;
}
.text-box p:nth-child(7) {
    color: green;
}
.mon-list {
    color: blue;
}
.mon-title {
    color: gold;
}
.mon-list li:nth-child(even) {
    background-color: yellow
}
.mon-list li:hover {
    color: red;
}
.tue-title {
    color: crimson;
}
.tue-list li:nth-child(odd) {
    color: chocolate;
}
.tue-lesson:focus {
    background-color: blue;
    color: greenyellow;
}
.wed-list li:nth-child(3n) {
background-color: deeppink;
}
.wed-title {
    color: orangered;
}
a {
    text-decoration: none;
}
a:active {
    color: springgreen;
    text-decoration: none;
}
.thu-list li:nth-child(-n+2) {
    color: darkred;
}
.thu-list li:not(.thu-lesson) {
    color: darkblue;
}
.thu-title {
    color: steelblue;
}
.fri-list li:nth-child(n+2) {
    color: green;
}
.fri-lesson:disabled {
    background-color:midnightblue;
}
.fri-title {
    color: magenta;
}